<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<!-- Load the ASP.NET Core plugin -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<variable name="Layout"
			  value="${longdate} | ${pad:padding=10:inner=${level:uppercase=true}} | ${logger} | ${message} ${exception:format=ToString,StackTrace}"/>

	<targets>
		<target name="console"
				type="ColoredConsole"
				layout="${Layout}"
				detectConsoleAvailable="False"/>
		<target name="fileTarget"
            xsi:type="File"
            fileName="${basedir}/ModAPI.log"
            layout="${linePrefix}${message}${exceptionFormat}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="console,fileTarget" />
		<logger name="Microsoft.*" maxlevel="Debug" final="true" />
	</rules>
</nlog>